# Build outputs

build/
cmake-build-*/
*.o
*.elf
*.bin
*.hex
*.map
*.lst
*.su
*.d
compile_commands.json

# CubeMX

mx.scratch
*.ioc.bak

# IDE & Tooling

.vscode/
.cache/

.settings/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# OS / Python

.DS_Store
Thumbs.db
__pycache__/
*.pyc